<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- ENCABEZADO -->
  <header>
    <mat-toolbar>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>¿Necesitas ayuda? Llama al 099999999999</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button for Facebook">
        <i class="fab fa-facebook"></i>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button for Twitter">
        <i class="fab fa-twitter"></i>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button for Instagram">
        <i class="fab fa-instagram"></i>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button for LinkedIn">
        <i class="fab fa-linkedin"></i>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button for YouTube">
        <i class="fab fa-youtube"></i>
      </button>
    </mat-toolbar>    
  </header>
 
<!-- CONTENIDO -->

<mat-drawer-container class="example-container">
  <mat-drawer-content>
    Main content
    <!-- <div class="login-container">
      <h2>Inicia sesión</h2>
      <form>
        <div>
          <input formControlName="username" placeholder="Correo electrónico o nombre de usuario">
        </div>
        <div>
          <input type="password" formControlName="password" placeholder="Contraseña">
        </div>
        <button type="submit">Iniciar sesión</button>
      </form>
      <br>
      <p>¿Primera vez en softTech? <a href="#">Regístrate ahora.</a></p>
    </div> -->
  </mat-drawer-content>
</mat-drawer-container>


   

<!--FOOTER  -->
  <div class="footer">
    <div class="footer-section">
      <div class="footer-logo">
        <img src="../assets/logosPng/logo.png" alt="SoftTech Logo">
        <p>Encuentremos en </p>
      </div>
      <div class="footer-social">
        <i class="fab fa-google"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-whatsapp"></i>
      </div>
    </div>
    <div class="footer-section">
      <h4>Contactanos</h4>
      <ul>
        <li>Brownze arnold</li>
        <li>Chronograph blue</li>
        <li>Smart phones</li>
        <li>Automatic watch</li>
        <li>Hair straighteners</li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Servicio al cliente</h4>
      <ul>
        <li>About us</li>
        <li>Contact us</li>
        <li>Return policy</li>
        <li>Privacy policy</li>
        <li>Payment policy</li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Información</h4>
      <ul>
        <li>News</li>
        <li>Service</li>
        <li>Our policy</li>
        <li>Customer care</li>
        <li>Faq's</li>
      </ul>
    </div>
  </div>
  
</body>
</html>