.cuadro-imagen{
    border: 1px solid #ccc;
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* espacio entre la imagen y el borde */
    display: flex; /* centrar el contenido del cuadro */
    align-items: center; 
    justify-content: center; 
    box-sizing: border-box; 
}

.main-imagen{
    width: 450px; 
    height: auto;
}

.precio{
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}

.star{
    font-size: 26px;
    color: gold;    
    margin-right: 10px;
}
.contenedor-estrellas .star:last-child {
    margin-right: 0; /* Elimina el margen derecho para la última estrella */
}

#check{
    font-size: 20px;
    color: #30bd57; 
}

.subtitulo{
    font-size: 18px;
    font-weight: bold;
}

.redes-sociales{
    font-size: 30px;
    margin-right: 20px;
    padding: 10px;
}


/* 
.star:hover{
    color: gold;
}
 */
