<header class="bg-dark text-white">
    <div class="container-fluid">
      <div class="row py-2">
        <div class="col-6">
          <p class="mb-0">¿Necesitas ayuda? Llama al 099999999999</p>
        </div>
        <div class="col-6 text-right">
          <img src="assets/icon1.png" alt="Icon 1" class="img-fluid header-icon">
          <img src="assets/icon2.png" alt="Icon 2" class="img-fluid header-icon">
          <img src="assets/icon3.png" alt="Icon 3" class="img-fluid header-icon">
        </div>
      </div>
      <div class="row align-items-center py-3">
        <div class="col-3">
          <img src="assets/logo.png" alt="Logo" class="img-fluid logo">
        </div>
        <div class="col-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar un video juego">
            <div class="input-group-append">
              <button class="btn btn-warning" type="button">Buscar</button>
            </div>
          </div>
        </div>
        <div class="col-3 text-right">
          <a href="#" class="text-white mx-2">Iniciar</a>
          <a href="#" class="text-white mx-2">Registrarse</a>
          <a href="#" class="text-white mx-2">Carrito</a>
        </div>
      </div>
      <div class="row bg-secondary py-2">
        <div class="col">
          <button class="btn btn-warning">Buscar categorías</button>
          <a href="#" class="text-white mx-3">Inicio</a>
          <a href="#" class="text-white mx-3">Consola</a>
          <a href="#" class="text-white mx-3">Categorías</a>
        </div>
      </div>
    </div>
  </header>
  