<header class="bg-dark text-white">
  <div class="container-fluid">
    <div class="row py-2 align-items-center">
      <div class="col-6">
        <p class="mb-0">¿Necesitas ayuda? Llama al 099999999999</p>
      </div>
      <div class="col-6 text-right">
        <img src="assets/logosPng/softtech-facebook.png" alt="Icon 1" class="img-fluid header-icon animate__animated animate__fadeIn">
        <img src="assets/logosPng/softtech-instagram.png" alt="Icon 2" class="img-fluid header-icon animate__animated animate__fadeIn animate__delay-1s">
        <img src="assets/logosPng/softtech-linkedin.png" alt="Icon 3" class="img-fluid header-icon animate__animated animate__fadeIn animate__delay-2s">
      </div>
    </div>
    <div class="row align-items-center py-3">
      <div class="col-3">
        <img src="assets/logosPng/logo.png" alt="Logo" class="img-fluid logo animate__animated animate__bounceIn">
      </div>
      <div class="col-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar un video juego">
          <div class="input-group-append">
            <button class="btn btn-warning" type="button">Buscar</button>
          </div>
        </div>
      </div>
      <div class="col-3 text-right">
        <a href="#" class="text-white mx-2 d-inline-block text-center">
          <i class="fas fa-sign-in-alt fa-2x"></i>
          <span>Iniciar</span>
        </a>
        <a href="#" class="text-white mx-2 d-inline-block text-center">
          <i class="fas fa-user-plus fa-2x"></i>
          <span>Registrarse</span>
        </a>
        <a href="#" class="text-white mx-2 d-inline-block text-center">
          <i class="fas fa-shopping-cart fa-2x"></i>
          <span>Carrito</span>
        </a>
      </div>
    </div>
    <div class="row bg-secondary py-2">
      <div class="col text-center">
        <button class="btn btn-warning animate__animated animate__pulse animate__infinite">Buscar categorías</button>
        <a href="/Front-end/src/app/components/encabezado/encabezado.component.html" class="text-white mx-3">Inicio</a>
        <a href="#" class="text-white mx-3">Consola</a>
        <a href="#" class="text-white mx-3">Categorías</a>
      </div>
    </div>
  </div>
</header>
