<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<header class="bg-dark text-white">
  <div class="container-fluid">
    <div class="row py-2 align-items-center">
      <div class="col-6">
        <p class="mb-0">¿Necesitas ayuda? Llama al 0999999999</p>
      </div>
      <div class="col-6 text-right">
        <a href="#"><img src="assets/logosPng/softtech-facebook.png" alt="Icon 1" class="img-fluid header-icon animate__animated animate__fadeIn"></a>
        <a href="#"><img src="assets/logosPng/softtech-instagram.png" alt="Icon 2" class="img-fluid header-icon animate__animated animate__fadeIn animate__delay-1s"></a>
        <a href="#"><img src="assets/logosPng/softtech-linkedin.png" alt="Icon 3" class="img-fluid header-icon animate__animated animate__fadeIn animate__delay-2s"></a>
      </div>
    </div>
    <div class="row align-items-center py-3">
      <div class="col-3">
        <img src="assets/logosPng/logo2.png" alt="Logo" class="img-fluid logo animate__animated animate__bounceIn">
      </div>
      
      <div class="col-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar un videojuego" [(ngModel)]="searchTerm">
          <div class="input-group-append">
            <button class="btn btn-warning" type="button" (click)="buscarJuego()">Buscar</button>
          </div>
        </div>
      </div>
      
      <div class="col-3 text-right">
        <span *ngIf="nombreUsuario" class="text-white mx-2 d-inline-flex align-items-center">
          Bienvenido, {{ nombreUsuario }}
        </span>
        <a *ngIf="!nombreUsuario" [routerLink]="['/login']" class="text-white mx-2 d-inline-flex align-items-center">
          <i class="fas fa-user fa-1x me-2"></i>
          <span>Iniciar</span>
        </a>
        <a *ngIf="!nombreUsuario" [routerLink]="['/register']" class="text-white mx-2 d-inline-flex align-items-center">
          <i class="fas fa-user-plus fa-1x me-2"></i>
          <span>Registrarse</span>
        </a>
        <a [routerLink]="['/cart']" class="text-white mx-2 d-inline-flex align-items-center">
          <i class="fas fa-shopping-cart fa-1x me-2"></i>
          <span>Carrito</span>
        </a>
        <a *ngIf="nombreUsuario" (click)="logout()" class="text-white mx-2 d-inline-flex align-items-center">
          <i class="fas fa-sign-out-alt fa-1x me-2"></i>
          <span>Cerrar sesión</span>
        </a>
      </div>
    </div>
    <div class="row bg-secondary py-2">
      <div class="col text-center">
        <button class="btn btn-warning animate__animated animate__pulse animate__infinite">Buscar categorías</button>
        <a [routerLink]="['/home']" class="text-white mx-3">Inicio</a>
        <a [routerLink]="['/navegacion']"  class="text-white mx-3">Consola</a>
        <a [routerLink]="['/navegacion']" class="text-white mx-3">Categorías</a>
      </div>
    </div>
  </div>
</header>
