<footer class="bg-dark text-white">
    <div class="container">
      <div class="row py-5">
        <div class="col-md-3">
          <img src="assets/logo.png" alt="Logo" class="img-fluid mb-3">
          <p>Av. fsadkfjlakdjflkajsdklfjalskdfj aksfjlaksjdfnkasd</p>
          <div class="social-icons">
            <img src="assets/google.png" alt="Google" class="img-fluid footer-icon">
            <img src="assets/facebook.png" alt="Facebook" class="img-fluid footer-icon">
            <img src="assets/whatsapp.png" alt="WhatsApp" class="img-fluid footer-icon">
          </div>
        </div>
        <div class="col-md-3">
          <h5>Contactanos</h5>
          <ul class="list-unstyled">
            <li>Browzne arnold</li>
            <li>Chronograph blue</li>
            <li>Smart phones</li>
            <li>Automatic watch</li>
            <li>Hair straighteners</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Servicio al cliente</h5>
          <ul class="list-unstyled">
            <li>About us</li>
            <li>Contact us</li>
            <li>Return policy</li>
            <li>Privacy policy</li>
            <li>Payment policy</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Información</h5>
          <ul class="list-unstyled">
            <li>News</li>
            <li>Service</li>
            <li>Our policy</li>
            <li>Customer care</li>
            <li>FAQ's</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  