
  <footer class="bg-dark text-white">
    <div class="container">
      <div class="row py-5">
        <div class="col-md-3">
          <a [routerLink]="['/home']"><img src="../../assets/logosPng/logo.png" alt="Logo" class="img-fluid mb-3 logo-img"></a>
          <p>Av. fsadkfjlakdjflkajsdklfjalskdfj aksfjlaksjdfnkasd</p>
        </div>
        <div class="col-md-2">
          <h5>Juegos Populares</h5>
          <ul class="list-unstyled">
            <li>Juego A</li>
            <li>Juego B</li>
            <li>Juego C</li>
            <li>Juego D</li>
            <li>Juego E</li>
          </ul>
        </div>
        <div class="col-md-2">
          <h5>Promociones</h5>
          <ul class="list-unstyled">
            <li>Ofertas del Día</li>
            <li>Descuentos de la Semana</li>
            <li>Bundles</li>
            <li>Pre-Ventas</li>
            <li>Exclusivos</li>
          </ul>
        </div>
        <div class="col-md-2">
          <h5>Servicio al Cliente</h5>
          <ul class="list-unstyled">
            <li>Soporte</li>
            <li>FAQ</li>
            <li>Contactar</li>
            <li>Devoluciones</li>
            <li>Política de Privacidad</li>
          </ul>
        </div>
        <div class="col-md-2">
          <h5>Soporte Técnico</h5>
          <ul class="list-unstyled">
            <li>Centro de Ayuda</li>
            <li>Estado del Servicio</li>
            <li>Reparaciones</li>
            <li>Actualizaciones</li>
            <li>Manuales</li>
          </ul>
        </div>
        <div class="col-md-1">
          <h5>Conectar</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://www.facebook.com/fisepn" target="_blank"><img src="../../assets/logosPng/softtech-facebook.png" alt="Facebook" class="img-fluid footer-icon"></a></li>
            <li class="mb-2"><a href="https://www.instagram.com/fis_epn_ec/" target="_blank"><img src="../../assets/logosPng/softtech-instagram.png" alt="Instagram" class="img-fluid footer-icon"></a></li>
            <li class="mb-2"><a href="https://www.linkedin.com/in/eddy-santiago-arias-sarango-a001ba287" target="_blank"><img src="../../assets/logosPng/softtech-linkedin.png" alt="Linkedin" class="img-fluid footer-icon"></a></li>
            </ul>
        </div>
      </div>
      <div class="text-center py-3">
        <p>&copy; 2024 Digital Game Store. Todos los derechos reservados. <a href="#" class="text-white">Política de privacidad</a> | <a href="#" class="text-white">Términos de uso</a></p>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

