<div class="banner-container">
    <div class="banner">
        <div class="banner-slide">
            <img src="https://www.gameinformer.com/sites/default/files/styles/full/public/2023/07/13/10d12f16/fc24_standardkeyart_16x9.jpg" alt="Lanzamiento 1">
        </div>
        <div class="banner-slide">
            <img src="https://www.gameinformer.com/sites/default/files/styles/full/public/2023/07/13/10d12f16/fc24_standardkeyart_16x9.jpg" alt="Lanzamiento 2">
        </div>
        <div class="banner-slide">
            <img src="https://www.gameinformer.com/sites/default/files/styles/full/public/2023/07/13/10d12f16/fc24_standardkeyart_16x9.jpg" alt="Lanzamiento 3">
        </div>
    </div>
    <!--Colocar las funciones para hacer el movimiento del slide-->
    <button class="banner-prev" onclick="">&#10094;</button>
    <button class="banner-next" onclick="">&#10095;</button>
</div>

<div class="popular-games-container">
    <h2>Videojuegos populares</h2>
    <div class="row m-2">
        <div class="col-md-3 mb-4">
            <div class="popular-game">
                <img class="game-image" src="http://surl.li/fynotu" alt="Juego 1">
                <h4 class="game-title">Título del Juego 1</h4>
                <p class="game-price">$29.99</p>
                <div class="game-stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="popular-game">
                <img class="game-image" src="http://surl.li/fynotu" alt="Juego 2">
                <h4 class="game-title">Título del Juego 2</h4>
                <p class="game-price">$39.99</p>
                <div class="game-stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="popular-game">
                <img class="game-image" src="http://surl.li/fynotu" alt="Juego 3">
                <h4 class="game-title">Título del Juego 3</h4>
                <p class="game-price">$49.99</p>
                <div class="game-stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="popular-game">
                <img class="game-image" src="http://surl.li/fynotu" alt="Juego 4">
                <h4 class="game-title">Título del Juego 4</h4>
                <p class="game-price">$19.99</p>
                <div class="game-stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="popular-game">
                <img class="game-image" src="http://surl.li/fynotu" alt="Juego 5">
                <h4 class="game-title">Título del Juego 5</h4>
                <p class="game-price">$1059.99</p>
                <div class="game-stars">
                    <i class="bi bi-star-half"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features-container">
    <div class="row">
        <div class="col-md-4">
            <div class="feature">
                <i class="bi bi-truck"></i> <!-- Icono de despacho inmediato -->
                <h3 class="feature-title">Despacho Inmediato</h3>
                <p class="feature-description">Recibe tus juegos de manera rápida y eficiente, con nuestro servicio de despacho inmediato.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature">
                <i class="bi bi-currency-dollar"></i> <!-- Icono de mejores precios -->
                <h3 class="feature-title">Mejores Precios</h3>
                <p class="feature-description">Ofrecemos los mejores precios del mercado en una amplia variedad de videojuegos para todas las plataformas.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature">
                <i class="bi bi-headset"></i> <!-- Icono de soporte -->
                <h3 class="feature-title">Soporte</h3>
                <p class="feature-description">Contamos con un equipo de soporte dedicado para resolver cualquier duda o problema que puedas tener.</p>
            </div>
        </div>
    </div>
</div>

<div class="reviews-container">
    <h2>Reseñas de Usuarios</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="review">
                <div class="user-info">
                    <div class="user-photo">
                        <img src="http://surl.li/bqbuec" alt="Foto de Usuario">
                    </div>
                    <div class="user-name">
                        <h4>Nombre de Usuario</h4>
                    </div>
                </div>
                <div class="user-rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                </div>
                <p class="user-review">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac tortor nulla.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="review">
                <div class="user-info">
                    <div class="user-photo">
                        <img src="http://surl.li/bqbuec" alt="Foto de Usuario">
                    </div>
                    <div class="user-name">
                        <h4>Nombre de Usuario</h4>
                    </div>
                </div>
                <div class="user-rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                </div>
                <p class="user-review">
                    Integer in bibendum dolor. Nunc lacinia pulvinar lectus in efficitur.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="review">
                <div class="user-info">
                    <div class="user-photo">
                        <img src="http://surl.li/bqbuec" alt="Foto de Usuario">
                    </div>
                    <div class="user-name">
                        <h4>Nombre de Usuario</h4>
                    </div>
                </div>
                <div class="user-rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                </div>
                <p class="user-review">
                    Duis auctor lectus ut libero congue, id semper dui laoreet.
                </p>
            </div>
        </div>
    </div>
</div>


