<div class="banner-container">
    <div class="banner">
        <div class="banner-slide">
            <img src="https://www.gameinformer.com/sites/default/files/styles/full/public/2023/07/13/10d12f16/fc24_standardkeyart_16x9.jpg" alt="Lanzamiento 1">
        </div>
        <div class="banner-slide">
            <img src="https://www.gameinformer.com/sites/default/files/styles/full/public/2023/07/13/10d12f16/fc24_standardkeyart_16x9.jpg" alt="Lanzamiento 2">
        </div>
        <div class="banner-slide">
            <img src="https://www.gameinformer.com/sites/default/files/styles/full/public/2023/07/13/10d12f16/fc24_standardkeyart_16x9.jpg" alt="Lanzamiento 3">
        </div>
    </div>
    <!--Colocar las funciones para hacer el movimiento del slide-->
    <button class="banner-prev" onclick="">&#10094;</button>
    <button class="banner-next" onclick="">&#10095;</button>
</div>

<div class="popular-games-container">
    <h2>Videojuegos populares</h2>
    <div class="row m-2">
        <div class="col-md-3 mb-4">
            <div class="popular-game">
                <img class="game-image" src="http://surl.li/fynotu" alt="Juego 1">
                <h4 class="game-title">Título del Juego 1</h4>
                <p class="game-price">$29.99</p>
                <div class="game-stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="popular-game">
                <img class="game-image" src="http://surl.li/fynotu" alt="Juego 2">
                <h4 class="game-title">Título del Juego 2</h4>
                <p class="game-price">$39.99</p>
                <div class="game-stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="popular-game">
                <img class="game-image" src="http://surl.li/fynotu" alt="Juego 3">
                <h4 class="game-title">Título del Juego 3</h4>
                <p class="game-price">$49.99</p>
                <div class="game-stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="popular-game">
                <img class="game-image" src="http://surl.li/fynotu" alt="Juego 4">
                <h4 class="game-title">Título del Juego 4</h4>
                <p class="game-price">$19.99</p>
                <div class="game-stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="popular-game">
                <img class="game-image" src="http://surl.li/fynotu" alt="Juego 5">
                <h4 class="game-title">Título del Juego 5</h4>
                <p class="game-price">$1059.99</p>
                <div class="game-stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                </div>
            </div>
        </div>
    </div>
</div>

