.banner-container {
    position: relative;
    width: 100%;
    height: 400px; /* Ajusta la altura según sea necesario */
    overflow: hidden;
    margin-bottom: 30px;
}

.banner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.banner-slide {
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-prev, .banner-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 193, 7, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-prev {
    left: 10px;
}

.banner-next {
    right: 10px;
}

.popular-games-container {
    margin-top: 60px;
}

.popular-games-container h2 {
    color: #007bff;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.popular-game {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    height: 100%;
}

.game-image {
    width: 100%;
    border-radius: 10px;
}

.game-title {
    font-size: 16px;
    margin-top: 10px;
}

.game-price {
    font-size: 14px;
    font-weight: bold;
    color: #007bff;
}

.game-stars {
    margin-top: 10px;
    color: rgb(34, 34, 34);
}

.game-stars .bi-star-fill {
    font-size: 18px;
}
