<div class="banner-container">
    <div class="banner">
        <div class="banner-slide" *ngFor="let slide of lanzamientosSlides; let i = index" [ngClass]="{'activo': i === indiceSlides }">
            <img src="{{slide.src}}" alt="{{slide.alt}}">
        </div>
    </div>
    <!--Colocar las funciones para hacer el movimiento del slide-->
    <button class="banner-prev" (click)="prevSlide()">&#10094;</button>
    <button class="banner-next" (click)="nextSlide()">&#10095;</button>
</div>

<div class="popular-games-container">
    <h2>Videojuegos populares</h2>
    <div class="row m-2">
        <div class="col-md-3 mb-4" *ngFor="let juego of juegosPopulares ">
            <a [routerLink]="['/juego',juego._id]">
                <div class="popular-game">
                    <img class="game-image" [src]="'http://localhost:3600/uploads/' + juego.portada" alt="Portada">

                    <h4 class="game-title"> {{juego.nombre}} </h4>
                    <p class="game-price"> {{juego.precio}} </p>
                    <div class="game-stars">
                        <i *ngFor="let star of [].constructor(getGameStarData(juego.rating).fullStar)" class="bi bi-star-fill goldStar"></i>
                        <i *ngIf="getGameStarData(juego.rating).halfStar" class="bi bi-star-half goldStar"></i>
                        <i *ngFor="let star of [].constructor(getGameStarData(juego.rating).emptyStar)" class="bi bi-star goldStar"></i>      
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="features-container">
    <div class="row">
        <div class="col-md-4">
            <div class="feature">
                <i class="bi bi-truck"></i> <!-- Icono de despacho inmediato -->
                <h3 class="feature-title">Despacho Inmediato</h3>
                <p class="feature-description">Recibe tus juegos de manera rápida y eficiente, con nuestro servicio de despacho inmediato.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature">
                <i class="bi bi-currency-dollar"></i> <!-- Icono de mejores precios -->
                <h3 class="feature-title">Mejores Precios</h3>
                <p class="feature-description">Ofrecemos los mejores precios del mercado en una amplia variedad de videojuegos para todas las plataformas.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature">
                <i class="bi bi-headset"></i> <!-- Icono de soporte -->
                <h3 class="feature-title">Soporte</h3>
                <p class="feature-description">Contamos con un equipo de soporte dedicado para resolver cualquier duda o problema que puedas tener.</p>
            </div>
        </div>
    </div>
</div>

<div class="reviews-container">
    <h2>Reseñas de Usuarios</h2>
    <div class="row">
        <div *ngFor="let review of reviews" class="col-md-4">
            <div class="review">
                <div class="user-info">
                    <div class="user-photo">
                        <img src="http://surl.li/bqbuec" alt="Foto de Usuario">
                    </div>
                    <div class="user-name">
                        <h4> {{review.userName}} </h4>
                    </div>
                </div>
                <div class="user-rating">
                    <i *ngFor="let star of [].constructor(review.rating)"  class="bi bi-star-fill goldStar"></i>
                    <i *ngFor="let star of [].constructor(5-review.rating)" class="bi bi-star-fill grayStar"></i>         
                </div>
                <p class="user-review">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac tortor nulla.
                </p>
            </div>
        </div>
    </div>
</div>
