<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pantalla principal</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

  <app-encabezado></app-encabezado>
   <!--Solo para ver como se presenta el login y el registro-->

  <app-login></app-login>
  <app-navegacion></app-navegacion>
  <app-register></app-register>
  <!--Solo para ver como se presenta el carro-->
  <app-cart></app-cart>
  <!--Solo para ver como se presenta la pagina de inicio-->
  <app-home></app-home>
  <app-review></app-review>
  <app-payment></app-payment>
  <app-pie></app-pie>
  
  </body>
</html>