.register-container {
    max-width: 600px;
    margin: 40px auto; /* Centra el contenedor horizontalmente y añade separación vertical */
    background-color: #eaf6ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-container h2 {
    font-weight: bold;
    text-align: left;
    color: #1b5a7d;
    margin-bottom: 20px; /* Añade espacio debajo del título */
}

.register-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-button {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #ff7f00;
}

a {
    font-weight: bold;
    color: #2c2d2e;
    text-decoration: none;
}
