.register-container {
    max-width: 600px;
    background-color: #eaf6ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-container h2 {
    font-size: 24px;
    color: #003366;
    margin-bottom: 15px;
}

.register-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-button {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #ff7f00;
}

