<div class="register-container">
  <h2>Registrarse</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">  
    <div>
      <input type="email" class="register-input" formControlName="email" placeholder="Correo electrónico">
    </div>
    <div>
      <input type="text" class="register-input" formControlName="nombre" placeholder="Nombre de usuario">
    </div>
    <div>
      <input type="password" class="register-input" formControlName="password" placeholder="Contraseña">
    </div>
    <div>
      <input type="password" class="register-input" formControlName="confirmPassword" placeholder="Repetir contraseña">
    </div>
    <button class="register-button" (click)="onSubmit()" type="submit" [disabled]="registerForm.invalid">Registrarse</button>
  </form>
</div>
