<div class="register-container">
    <h2>Registrarse</h2>
    <form>  
        <div>
            <input type="email" class="register-input" placeholder="Correo electrónico">
        </div>
        <div>
        <input type="text" class="register-input" placeholder="Nombre de usuario">
        </div>
        <input type="password" class="register-input" placeholder="Contraseña">
        <input type="password" class="register-input" placeholder="Repetir contraseña">
        <button class="register-button">Registrarse</button>
    </form>
</div>
