<div class="container-fluid">
    <div class="row mx-2 mt-5">
        <div class="contenedor-noti p-2">
            <div class="contenedor-noti">
                <p class="fecha m-3">20/06/2024</p>
                <div class="row">
                    <div class="col-md-10">
                        <div class="contenedor-noti d-flex flex-column justify-content-center align-items-center mx-2 mb-2">
                            <p class="my-3">Savannah Nguyen</p>
                            <div class="contenedor-txt">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam reprehenderit sed explicabo obcaecati laboriosam id est molestiae quia soluta vel odit, dignissimos laborum magni dolores molestias ab. Soluta, temporibus saepe.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                        <i class="bi bi-bell-fill notificacion"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-2 my-5">
        <div class="contenedor-noti p-2">
            <div class="contenedor-noti">
                <p class="fecha m-3">20/06/2024</p>
                <div class="row">
                    <div class="col-md-10">
                        <div class="contenedor-noti d-flex flex-column justify-content-center align-items-center mx-2 mb-2">
                            <p class="my-3">Savannah Nguyen</p>
                            <div class="contenedor-txt">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam reprehenderit sed explicabo obcaecati laboriosam id est molestiae quia soluta vel odit, dignissimos laborum magni dolores molestias ab. Soluta, temporibus saepe.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                        <i class="bi bi-bell-slash notificacion"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>